<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./css/login.css" />
    <title>Document</title>
</head>
<body>
  <div class="main">
    <div class="box shadow">
      <h1 class="pb-3 text-black">Login</h1>
        <div class="form">
        <form action="/login" method="post">
          <input type="text" name="username" class="form-control" placeholder="Username" value="">
        </div>
          <div class="form pb-5">
            <input type="password" name="password" class="form-control" placeholder="Password" value="">
          </div>
          <button type="submit" class="btn btn-primary fw-bold">LOGIN</button>
        </form>
      </div>
    </div>
</body>
</html>