<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../../css/login.css" />
    <title>Document</title>
</head>
<body>
    <div class="main">
    <div class="box shadow">
        <h1 class="pb-3 text-black">Create</h1>
        <form action="/create" method="post">
        <div class="form">
            <label class="form-label" for="">Hobi</label>
            <input name="hobi" type="text" class="form-control">
            <select name="userId" id="">
              <% for (i = 0; i < isi.length; i++) { %>
              <option value="<%= isi[i].id %>"><%= isi[i].username %></option>
              <% } %>
            </select>
          </div>
          <div class="form pb-5">
            <label class="form-label" for="">Jalan</label>
            <textarea name="jalan" class="form-control" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary fw-bold">Submit</button>
        </form>
      </div>
    
</div>
</body>
</html>