*{
    padding: 0;
    margin: 0;

}

a {
    text-decoration: none;
}

.container-fluid {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
}

.main {
    background-color: white;
    height: 100vh;
    width: 100vw;
}

.dash {
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
   
}

.menu {
    padding: 30px 0px 0px 20px;
    
}
