*{
    padding: 0;
    margin: 0;
}

.main {
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    width: 380px;
    height: 460px;
}

.form {
    padding: 20px 0px 0px 0px;
    
}