<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./css/dashboard.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar bg-black">
      <a class="navbar-brand ms-5 text-light">Dashboard</a>
    </nav>
    <div class="container-fluid">
      <div class="sidebar col-3">
        <div class="menu">
          <a href="dashboard"><span class="dash">Dashboard</span></a>
        </div>
        <div class="menu pt-5">
          <a href="get"><span class="dash">Biodata</span></a>
        </div>
        <div class="menu pt-5">
          <a href=""><span class="dash">History</span></a>
        </div>
      </div>
      <div class="main">
        <h1>Profil</h1>
        <a class="d-flex justify-content-end me-5" href="/profil">
          <button class="btn btn-primary fw-bold">Create</button>
        </a>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Username</th>
              <th scope="col">Role</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% for (i = 0; i < isi.length; i++) { %>
            <tr>
              <th scope="row"><%= i+ 1 %></th>
              <td><%= isi[i].username %></td>
              <td><%= isi[i].role %></td>
              <td>
                <a href="/delete/<%= isi[i].id %>">
                  <button class="btn btn-danger fw-bold">Hapus</button></a
                >
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
  </body>
</html>
